
<form style="text-align:left" method="get" action="/quizes">
		Buscador de preguntas:<p>
		<input type="text" name="search" value="Elementos a buscar"/>
		<input type="submit" value="Buscar"/>
</form>

<p style="text-align:left">
<% if (quizes!=""){ %>
<br>Lista de resultados:<br>
<% } %>
<table>
<% var i;for (i=0;i< quizes.length;i++){ %>
	<tr style="border:solid 1px black;">
	<td style="border:solid 1px;"><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
	<td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
	<td><form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
	<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
	borrar
	</button>
	</form>
	</td>
	</tr>
<% } %>
</table>
</p>
<br>
<p style="text-align:left">
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</p>